.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 0 20px;
  background: var(--W);
  border: 1px solid var(--B);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--B);
  transition: all 0.3s ease;
  outline: none;
  width: 100%;
}
.button:hover {
  color: var(--B2);
  border: 1px solid var(--B2);
}
.button:active {
  box-shadow: 0 0 0 3px var(--B3);
}
